<html>
    <head>
        <title>
            discription
        </title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
  
    {% block content %}
        <div class="one" style="margin-left: 10px">
            <div class="content" align="center" >  <br>
                <div class="contentbar" style="height: 300px;margin-top: 10px;">
                    <h1>Discription</h1>    <br>
                        <div class="border">
                            <table class="worddark"><br>
        
                                <tr>
                                  <td> </td>
                                </tr>
                                <tr>
                                  <td><h2> Product Name: </h2></td>
                                  <td><h2>{{ product['product_name'] }}</h2></td>
                              </tr>
                                <tr><td></td></tr>
                                <tr>
                                  <td> </td>
                                </tr>
                                <tr>
                                    <td><h2>Product Type :  </h2></td>
                                    <td><h2>{{ product['product_type'] }}</h2></td>
                                </tr>
                              <tr>
                                <td><h2>cost :  </h2></td>
                                <td><h2>{{ product['cost'] }}</h2></td>
                            </tr>
                            <tr>
                                <td><h2>available quantity :  </h2></td>
                                <td><h2>{{ avaliable_product_quantity }}</h2></td>
                            </tr>
                                <tr><td></td></tr>
                                <tr>
                                  <td> </td>
                                </tr>
                                
                                <tr>   
                                    <span>  </span><button class="btn"><a style="color:white" href="{{url_for('checkreview',product_id=product['product_id'])}}">Check Reviews</a></button>                      
                                </tr>
                                
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="logincontent" align="center" style="background-color:whitesmoke;margin-left: 550px;height: 400px;margin-top: 30px">
                    <div class="logintop">
                      <h1>Payment</h1>
                    </div>
                    <br>
            <div class="loginbottom">
                <div class="msg">{{ msg }}</div>
                <form action="{{url_for('orders',product_id=product['product_id'])}}" method="post">
                <input type="text" name="card_number" placeholder="Enter card_number" class="textbox" id="mail_id" required><br><br>
                <input type="number" name="cvv" placeholder="Enter cvv" class="textbox" id="mail_id" required><br><br>
                <input type="number" name="quantity" placeholder="Enter quantity" class="textbox" id="mail_id" required><br><br>
                <input type='submit' class="btn" value='pay'>
                </form>
                <br>
                <p class="worddark">check review before payment -><a class="worddark" href="{{url_for('checkreview',product_id=product['product_id'])}}">reviews</a></a></p><br><br>
        </div>
        </div>
    {% endblock %}
    </body>
</html>


